apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: mytsdb
  labels:
    app: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
    - name: MyTSDB
      type: prometheus
      access: proxy
      url: http://mytsdb.mytsdb.svc.cluster.local:9090
      isDefault: true
      editable: true
      jsonData:
        httpMethod: POST
        timeInterval: 30s
