apiVersion: v1
kind: Service
metadata:
  name: mytsdb
  namespace: mytsdb
  labels:
    app: mytsdb
    component: database
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 9090
    targetPort: 9090
    protocol: TCP
  - name: grpc
    port: 4317
    targetPort: 4317
    protocol: TCP
  selector:
    app: mytsdb
